﻿.btn-file {
    overflow: hidden;
    position: relative;
}

.btn-file input[type=file] {
    background: red;
    cursor: inherit;
    display: block;
    filter: alpha(opacity=0);
    font-size: 999px;
    min-height: 100%;
    min-width: 100%;
    opacity: 0;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
}

input[readonly] {
    background-color: red !important;
    cursor: text !important;
}