﻿<!DOCTYPE html>


<html>
    <head>
        <meta name="google-site-verification" content="OyIuZBRMGdIWRzpK7IZZjGne5WXeuzfunLaiABj6_7I" />
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
     
        @Styles.Render("~/bundles/css")
        @Scripts.Render("~/bundles/modernizr")

    

    </head>
<body>
 
<style>

  h1 {
    padding-bottom: 10px;
    padding-top: 20px;
  }

 


</style>






<div class="container body-content">
  @RenderBody()
 
</div>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@RenderSection("scripts", false)















</body>

</html>

